

<!-- Toolbar -->
<div class="toolbar" role="banner"> header here
 <mm-header></mm-header>
</div>
<!-- content -->
<!-- <div class="content" role="main">

  <mm-authorization></mm-authorization>
</div>

 <mm-authorization-permissions></mm-authorization-permissions> -->
 <!-- <mm-authorization-roles></mm-authorization-roles> -->
 <mm-backup></mm-backup>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- <router-outlet></router-outlet> -->
