<div class="app-root">
  <div class="bootstrap-layer">
    <div>
      <div class="loader"></div>
      <div class="status"></div>
      <div class="error"></div>
    </div>
  </div>

  <div class="container-fluid">
    <mm-header
      [webAppUrl]="webAppUrl"
      [title]="title"
    ></mm-header>
    <div class="row content">
      <router-outlet></router-outlet>
    </div>
  </div>
  <!-- <snackbar></snackbar> -->
</div>










<!-- Toolbar -->
<!-- <div class="toolbar" role="banner"> header here
 <mm-header></mm-header>
</div> -->
<!-- content -->
<!-- <div class="content" role="main">

  <mm-authorization></mm-authorization>
</div>

 <mm-authorization-permissions></mm-authorization-permissions> -->
 <!-- <mm-authorization-roles></mm-authorization-roles> -->
 <!-- <mm-backup></mm-backup> -->
 <!-- <mm-users></mm-users> -->

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- <router-outlet></router-outlet> -->
