<!-- <mm-modal
  id="'delete-confirm'"
  danger="true"
  title-key="'bulkdelete.confirm.title'"
  submit-key="'bulkdelete.confirm.action'"
  submitting-key="'Deleting'"
  on-cancel="cancel()"
  on-submit="submit()"
>
  <p translate>confirm.delete<p>
</mm-modal>


<mm-modal
  id="delete-confirm"
  [status]="status"
  [danger]="true"
  [titleKey]="'bulkdelete.confirm.title'"
  [submitKey]="'bulkdelete.confirm.action'"
  [submittingKey]="'Deleting'"
  (onCancel)="cancel()"
  (onSubmit)="submit()"
>
  <p>{{'confirm.delete' | translate}}<p>
</mm-modal> -->
