<div class="loader" *ngIf="loading" mm-auth="can_configure"></div>

<div *ngIf="!loading" mm-auth="can_configure">

  <p *ngIf="error" class="alert alert-danger" role="alert" translate>error.settings.loading</p>

  <div *ngIf="!error">

    <p translate>admin.targets.description</p>

    <div class="tab-content">
      <div class="btn-toolbar">
        <a class="btn btn-success" *ngIf="!configuration.enabled" (click)="enable()">
          <i class="fa fa-play"></i>
          <span translate>analytics.target.enable</span>
        </a>
        <a class="btn btn-danger" *ngIf="configuration.enabled" (click)="disable()">
          <i class="fa fa-stop"></i>
          <span translate>analytics.target.disable</span>
        </a>
        <a class="btn btn-primary" ui-sref="targets-edit">
          <i class="fa fa-plus"></i>
          <span translate>analytics.target.add</span>
        </a>
      </div>
    </div>

    <div class="tab-content container-fluid">

      <div class="row selection-heading">
        <div class="col-xs-1"></div>
        <div class="col-xs-4" translate>analytics.target.id</div>
        <div class="col-xs-4" translate>analytics.target.name</div>
        <div class="col-xs-2" translate>analytics.target.type</div>
        <div class="col-xs-1" translate>analytics.target.goal</div>
      </div>

      <div class="row selection" *ngFor="let target of configuration.items trackBy target.id" (click)="edit(target.id)">
        <div class="col-xs-1" ng-bind-html="target.icon | resourceIcon"></div>
        <div class="col-xs-4">{{target.id}}</div>
        <!-- <div class="col-xs-4" *ngIf="target.translation_key">{{target.translation_key | translate}}</div>
        <div class="col-xs-4" *ngIf="!target.translation_key">{{target.name | translateFrom}}</div> -->
        <div class="col-xs-2" *ngIf="target.type === 'count'" translate>
          analytics.target.type.count
        </div>
        <div class="col-xs-2" *ngIf="target.type === 'percent'" translate>
          analytics.target.type.percent
        </div>
        <div class="col-xs-1">
          {{target.goal}}<span *ngIf="target.type === 'percent'">%</span>
        </div>
      </div>

    </div>

  </div>

</div>
