<div class="loader" *ngIf="loading"></div>

<form class="tab-content permissions" [hidden]="loading">

  <div class="form-group container-fluid">
    <div class="row" *ngFor="let permission for permissions | orderBy:'name' trackBy permission.name">
      <div class="col-xs-4">
        <strong>{{permission.name}}</strong>
        <p translate="permission.description.{{permission.name}}" translate-default=""></p>
      </div>
      <div class="col-xs-8">
        <!-- <ul>
          <li *ngFor="let role in permission.roles" class="checkbox">
            <label>
              <input type="checkbox" ng-model="role.enabled"/>
              <span translate>{{roles[role.name].name}}</span>
            </label>
          </li>
        </ul> -->
        <div *ngFor="let role of permission.roles" class="checkbox">
          <label>
            <input type="checkbox" ng-model="role.enabled"/>
            <span translate>{{roles[role.name].name}}</span>
          </label>
        </div>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <button type="submit" class="btn btn-primary" (click)="submit()" ng-disabled="submitting" translate>Submit</button>
    <div class="loader inline small" *ngIf="submitting"></div>
    <p class="error" *ngIf="error" translate>{{error}}</p>
  </div>

</form>
