<ul class="nav nav-tabs">
  <li role="presentation" ui-sref-active="active">
    <a [routerLink]="['/message-queue','scheduled']" translate>admin.message.queue.tab.scheduled</a>
  </li>
  <li role="presentation" ui-sref-active="active">
    <a [routerLink]="['/message-queue','due']" translate>admin.message.queue.tab.due</a>
  </li>
  <li role="presentation" ui-sref-active="active">
    <a [routerLink]="['/message-queue','will-not-send']" translate>admin.message.queue.tab.muted.future</a>
  </li>
  <li role="presentation" ui-sref-active="active">
    <a [routerLink]="['/message-queue','did-not-send']" translate>admin.message.queue.tab.muted.past</a>
  </li>
</ul>
<!-- <div class="tab-content message-queue" ui-view="tab"></div> -->
<router-outlet></router-outlet>
