<p [hidden]="!error" class="alert alert-danger" role="alert" translate>admin.message.queue.error</p>

<div class="container-fluid">
  <table>
    <thead>
      <tr class="row">
        <th translate>admin.message.queue.recipient</th>
        <th translate>admin.message.queue.created</th>
        <th translate>admin.message.queue.message</th>
        <th translate>admin.message.queue.status</th>
        <th translate>admin.message.queue.due</th>
        <th *ngIf="displayLastUpdated" translate>admin.message.queue.updated</th>
      </tr>
    </thead>
    <tbody [hidden]="!loading">
      <tr>
        <td >
          <div class="loader"></div>
        </td>
      </tr>
    </tbody>
    <tbody>
      <tr *ngFor="let message of messages" class="row">
        <td>{{message.recipient}}</td>
        <td>
          {{message.record.reportedDate}}
          <div>
            <a *ngIf="message.link" href="{{basePath}}#/reports/{{message.record.id}}" target="_blank" rel="noopener noreferrer" translate>
              admin.message.queue.view.report
            </a>
          </div>
        </td>
        <td class="break">
          <p *ngIf="message.task"><strong>{{message.task}}</strong></p>
          <span>{{message.content}}</span>
          <div class="message-error" *ngIf="message.error">
            <span translate>messages.errors.invalid</span>
            <span translate>{{message.error}}</span>
          </div>
        </td>
        <td>
          <span class="message-state {{message.state}}" ng-class="{ delayed: message.delayed, 'has-error': message.error }" translate>
            {{'state.' + message.state}}
          </span>
        </td>
        <td>
          <p date="message.due" date-format="dateFormat"></p>
        </td>
        <td *ngIf="displayLastUpdated">
          <p date="message.stateHistory.timestamp" date-format="dateFormat"></p>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- <mm-pagination></mm-pagination> -->


